In [1]:
import pandas as pd
import numpy as np
import pickle
import os

In [2]:
home = os.path.expanduser( '~' )
with open('../train.pickle', 'rb') as f:
    train = pickle.load(f)

In [3]:
df = pd.DataFrame.from_dict(train)

In [4]:
import re

def helper_regex(string, pat):
    string = str(string)
    if pat == 'm2':
        pattern = r'\b(\d+(\.\d+)?) m2\b'
    elif pat == 'bedrooms':
        pattern = r'\b(\d+) hab\b'
    else:
        pattern = r'\b(\d+) bañ(o|os)\b'
    match = re.search(pattern, string)
    return float(match.group(1)) if match else np.nan

def clean_df(df, valid_df=None, valid=False):
    df['m2'] = df.features.apply(helper_regex, args=('m2',))
    df['bedrooms'] = df.features.apply(helper_regex, args=('bedrooms',))
    df['bathrooms'] = df.features.apply(helper_regex, args=('bathrooms',))
    df['m2'].fillna(-1, inplace=True)
    df['bedrooms'].fillna(-1, inplace=True)
    df['bathrooms'].fillna(-1, inplace=True)
    if valid:
        valid_df['m2'] = valid_df.features.apply(helper_regex, args=('m2',))
        valid_df['bedrooms'] = valid_df.features.apply(helper_regex, args=('bedrooms',))
        valid_df['bathrooms'] = valid_df.features.apply(helper_regex, args=('bathrooms',))
        valid_df['m2'].fillna(-1, inplace=True)
        valid_df['bedrooms'].fillna(-1, inplace=True)
        valid_df['bathrooms'].fillna(-1, inplace=True)
        return valid_df[['m2','bedrooms','bathrooms','loc_string','type','desc']]
    return df[['m2','bedrooms','bathrooms','loc_string','type','desc']], df['price'].str.split(' ', expand=True)[0].astype(float)

In [5]:
df_clean, target = clean_df(df)

In [6]:
df_clean

,m2,bedrooms,bathrooms,loc_string,type,desc
0,85.0,2.0,1.0,Barcelona - Sant Antoni,FLAT,Piso en última planta a reformar en calle Tall...
1,65.0,2.0,1.0,Barcelona - Dreta de l´Eixample,FLAT,"Ubicado en la zona del Camp de l’Arpa, cerca d..."
2,77.0,2.0,1.0,Barcelona - Dreta de l´Eixample,FLAT,"En pleno centro de Barcelona, justo al lado de..."
3,96.0,3.0,2.0,Barcelona - Sant Antoni,FLAT,"Vivienda espaciosa en Sant Antoni, cerca de Pl..."
4,84.0,2.0,1.0,Barcelona - Sagrada Família,FLAT,"En el corazón de Barcelona, en una hermosa fin..."
...,...,...,...,...,...,...
861,115.0,3.0,1.0,Barcelona - Navas,FLAT,"HANNAN-PIPER Real Estate les presenta, en excl..."
862,82.0,3.0,1.0,Barcelona - Navas,FLAT,¡ OPORTUNIDAD !\n\nLa Casa Agency vende: Vivie...
863,79.0,4.0,2.0,Barcelona - Navas,FLAT,"Piso totalmente REFORMADO y a ESTRENAR, con MU..."
864,63.0,1.0,1.0,Barcelona - Navas,FLAT,Presentamos la oportunidad de comprar un bonit...
865,80.0,2.0,1.0,Barcelona - Navas,FLAT,Piso de 80 metros totalmente reformado en Sagr...

In [7]:
from sklearn.model_selection import train_test_split

# Train-test split
X = df_clean[['m2','bedrooms','bathrooms','loc_string','type']]
X['loc_string'] = X.loc_string.astype('category')
X['type'] = X.type.astype('category')
y = target.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

/var/folders/sw/4y7807457pq993ph89ytbj8h0000gq/T/ipykernel_3354/388337111.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['loc_string'] = X.loc_string.astype('category')
/var/folders/sw/4y7807457pq993ph89ytbj8h0000gq/T/ipykernel_3354/388337111.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['type'] = X.type.astype('category')

In [8]:
from xgboost import XGBRegressor
from sklearn.metrics import r2_score

depth = [i for i in range(1,10)]
eta = [0.03,0.04,0.05,0.06,0.07,0.08]
params = []
r2 = []
for i in depth:
    for j in eta:
        model = XGBRegressor(max_depth=i, eta=j, tree_method="hist", enable_categorical=True)
        # fit model
        model.fit(X_train, y_train)
        yhat = model.predict(X_test)
        params.append((i,j))
        r2.append(r2_score(y_test, yhat))

In [9]:
xgb = pd.DataFrame(list(zip(params, r2)), columns =['params', 'r2'])

In [10]:
xgb

       params        r2
0   (1, 0.03)  0.465761
1   (1, 0.04)  0.491768
2   (1, 0.05)  0.510086
3   (1, 0.06)  0.520588
4   (1, 0.07)  0.522009
5   (1, 0.08)  0.520265
6   (2, 0.03)  0.531952
7   (2, 0.04)  0.542579
8   (2, 0.05)  0.547160
9   (2, 0.06)  0.544822
10  (2, 0.07)  0.539220
11  (2, 0.08)  0.540579
12  (3, 0.03)  0.531792
13  (3, 0.04)  0.530357
14  (3, 0.05)  0.531939
15  (3, 0.06)  0.536249
16  (3, 0.07)  0.517463
17  (3, 0.08)  0.517582
18  (4, 0.03)  0.555608
19  (4, 0.04)  0.555299
20  (4, 0.05)  0.556645
21  (4, 0.06)  0.560052
22  (4, 0.07)  0.552567
23  (4, 0.08)  0.557108
24  (5, 0.03)  0.551384
25  (5, 0.04)  0.558671
26  (5, 0.05)  0.563438
27  (5, 0.06)  0.545938
28  (5, 0.07)  0.544563
29  (5, 0.08)  0.544957
30  (6, 0.03)  0.528846
31  (6, 0.04)  0.537958
32  (6, 0.05)  0.541773
33  (6, 0.06)  0.538938
34  (6, 0.07)  0.507608
35  (6, 0.08)  0.531448
36  (7, 0.03)  0.497236
37  (7, 0.04)  0.508257
38  (7, 0.05)  0.496618
39  (7, 0.06)  0.494868
40  (7, 0.07)  0.492407
41  (7, 0.08)  0.492126
42  (8, 0.03)  0.478524
43  (8, 0.04)  0.468318
44  (8, 0.05)  0.465518
45  (8, 0.06)  0.450288
46  (8, 0.07)  0.466989
47  (8, 0.08)  0.448800
48  (9, 0.03)  0.438341
49  (9, 0.04)  0.423384
50  (9, 0.05)  0.432719
51  (9, 0.06)  0.422185
52  (9, 0.07)  0.404997
53  (9, 0.08)  0.396378

In [11]:
home = os.path.expanduser( '~' )
with open(home + '/data/test_kaggle.pickle', 'rb') as f:
    test = pickle.load(f) 
df_test = pd.DataFrame.from_dict(test)
test_clean = clean_df(df, df_test, True)
X = test_clean[['m2','bedrooms','bathrooms','loc_string','type']]
X['loc_string'] = X.loc_string.astype('category')
X['type'] = X.type.astype('category')

/var/folders/sw/4y7807457pq993ph89ytbj8h0000gq/T/ipykernel_3354/2011517164.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['loc_string'] = X.loc_string.astype('category')
/var/folders/sw/4y7807457pq993ph89ytbj8h0000gq/T/ipykernel_3354/2011517164.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['type'] = X.type.astype('category')

In [12]:
X

,m2,bedrooms,bathrooms,loc_string,type
0,87.0,4.0,1.0,Barcelona - El Parc i la Llacuna del Poblenou,FLAT
1,78.0,4.0,1.0,Barcelona - Poblenou,FLAT
2,65.0,1.0,1.0,Barcelona - L´Antiga Esquerra de l´Eixample,FLAT
3,88.0,3.0,1.0,Barcelona - Poblenou,FLAT
4,82.0,2.0,1.0,Barcelona - Sant Antoni,FLAT
...,...,...,...,...,...
127,89.0,3.0,1.0,Barcelona - Dreta de l´Eixample,FLAT
128,65.0,3.0,1.0,Barcelona - El Parc i la Llacuna del Poblenou,FLAT
129,75.0,4.0,1.0,Barcelona - Sagrada Família,FLAT
130,75.0,3.0,2.0,Barcelona - Poblenou,APARTMENT
131,80.0,4.0,2.0,Barcelona - El Parc i la Llacuna del Poblenou,FLAT

In [18]:
model = XGBRegressor(max_depth=5, eta=0.05, tree_method="hist", enable_categorical=True)
# fit model
model.fit(X_train, y_train)
yhat = model.predict(X)

In [19]:
out = pd.DataFrame(yhat)
out = out.rename(columns={0: 'price'})
out.index.names = ['id']
out.to_csv('solution.csv')

In [20]:
yhat = model.predict(X_test)
r2_score(y_test, yhat)

0.5634377117820251